* {
    font-family:'Abel';
    font-style: normal;
    font-weight: normal;
    /* font-size: 50px; */
    /* color: #ffffff;
    font-size: 50px; */
}

.chat_bot {
    background: #282828;
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 50px;
   
}

.chat_bot_win {
    /* display: block;
    margin: 0 auto;
    bottom: 20px; */
    padding: 10px 0;
    width: 769px;
    height: 769px;
    border: 1px solid #EDEDED;
    border-radius: 37.5px;
    position: relative;
}

.chat_bot_win .chat_bot_win_com {
    width: 90%;
    height: 90%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    /* background-color: #fff; */
}

.chat_bot_win .chat_bot_win_com .str_div{
    display: flex-end;
    width: 100%;
    min-height: 60px;
    display: block;
    margin: 0 auto;
    word-break: break-all;
    /* background-color: #fff; */
}


.chat_bot_win .chat_bot_win_input {
    width: 88%;
    height: 64px;
    position: absolute;
    background: #F3F3F3;
    border-radius: 32px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.chat_bot_win .chat_bot_win_input input {
    background: #F3F3F3;
    height: 64px;
    width: 85%;
    font-size: 30px;
    border-radius: 32px;
    border: none;
    margin-left: 20px;
    line-height: 20px;

}

.chat_bot_win .chat_bot_win_input button {
    position: absolute;
    margin-left: 27px;
    margin-top: 14px;
    border: none;
    background: none;
}
.str_div {
    color: #ffffff;
    font-size: 50px;
    /* overflow: hidden; */

}

@media screen and (max-height: 850px) {
    .chat_bot_win {
        height: 600px;
    }
}

@media screen and (max-height: 600px) {
    .chat_bot_win {
        height: 500px;
    }
}
@media screen and (max-height: 550px) {
    .chat_bot_win {
        height: 450px;
    }
}

@media screen and (max-height: 500px) {
    .chat_bot_win {
        height: 400px;
    }
}
